<div class="container">
    <div class="container-fluid">
        <input type="text" class="form-control"/>
    </div>
    <br/>
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active" aria-current="page"><a href="#">Create</a></li>
            </ol>
        </nav>
    </div>
    <br/>
    <div class="container-fluid card-deck">
        <div class="card" *ngFor="let car of gameCharacters">
            <img class="card-img-top" src="../../resources/img/Goku.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{car.nameGameCharacter}}</h5>
                <p class="card-text">{{car.categoryGameCharacter}}</p>
            </div>
        </div>
    </div>
</div>
